@import '../../fonts.css';

.navbar_item_div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    gap: 10px;

    text-decoration: none;

    position: relative;
    width: fit-content;
    height: 29px;
}

.navbar_item {
    
    white-space: nowrap;
    overflow: hidden;

    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.25em;

    color: #FFFFFF;
}

.navbar_container {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px 10px;
    gap: 23px;

    width: 90%;
    margin: auto;

    border-bottom: 1px solid #FFFFFF;
}

.navbar_itemlist {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 50px;

    width: fit-content;
    height: 49px;
}

#navbar_mobile {
    display: none;
}

@media screen and (min-width: 320px) and (max-width: 480px) {

    .navbar_container {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding: 20px 10px;
        
        border-bottom: 1px solid #FFFFFF;
    }

    .navbar_itemlist {
        display: none;
    }

    #navbar_mobile {
        display: contents;
    }

    .navbar_mobile_hamburgerIcon {
        width: 29px;
        height: 29px;
        margin-right: 20px;
    }
    
    .navbar_mobile_closeIcon {
        width: 29px;
        height: auto;
        display: none;
    }
}


@media screen and (min-width: 481px) and (max-width: 820px) {

    .navbar_container {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 20px;
        
        border-bottom: 1px solid #FFFFFF;
    }

}

@media screen and (min-width: 821px) and (max-width: 1024px) {

}

@media screen and (min-width: 1025px) {
    
}