.footer_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 8px;
    gap: 5px;
    max-width: 500px;
    margin: auto;

    background: #2C2C2C;
    border-radius: 5px;
}
.footer_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    gap: 5px;
    width: 100%;
    background: #2C2C2C;
}

.footer_text_bold {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.145em;
    
    color: #F0F0F1;
}

.footer_text_regular {

    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.145em;
    padding-bottom: 20px;
    
    color: #BBC2C8;
}

.footer_socials {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0 16px;
    gap: 16px;
    width: 220px;
    height: 57px;
}

.footer_rights {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 200;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.145em;
    padding-top: 10px;
    
    color: #F0F0F1;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    
    .footer_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 16px 8px;
        gap: 5px;

        background: #2C2C2C;
        border-radius: 5px;
    }

    .footer_text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 16px;
        gap: 5px;
        width: 100%;
        background: #2C2C2C;
    }

    .footer_text_bold {
        font-family: 'Jost';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 23px;
        text-align: left;
        letter-spacing: 0.145em;
        
        color: #F0F0F1;
    }

    .footer_text_regular {

        font-family: 'Jost';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 23px;
        display: flex;
        text-align: left;
        letter-spacing: 0.145em;
        padding-bottom: 10px;
        
        color: #BBC2C8;
    }

    .footer_socials {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0 16px;
        gap: 16px;
        width: 220px;
        height: 57px;
    }

    .footer_rights {
        font-family: 'Jost';
        font-style: normal;
        font-weight: 200;
        font-size: 12px;
        line-height: 17px;
        text-align: center;
        letter-spacing: 0.145em;
        padding-top: 10px;
        
        color: #F0F0F1;
    }
}